@mixin container {
    margin: 0 auto;
    max-width: $widthContainer;
}

@mixin btn{
        display: inline-block;
        box-sizing: border-box;
        padding: 13px 39px;
        border-radius: 3px;
        box-shadow: inset 0px -3px 0 0 #736357;
        background-color: #998675;
        text-decoration: none;
        border: none;
        outline: none;
    
        &:hover {
            background-color: #736357;
        }
    
        &:active {
            box-shadow: none;
            background-color: #998675;
        }
        &-text {
            font-size: 14px;
            font-weight: 700;
            line-height: 2;
            text-align: center;
            text-transform: uppercase;
            color: $colorWhite;
            font-family: raleway;
        }
    
}

@mixin title-footer{
    margin: 26px 0 0 0;
    display: block;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    color: $colorWhite
}


@mixin checkbox{
    &-hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
        &__bar {
            padding: 0;
            width: 30px;
            height: 4px;
            background-color: $colorWhite;
            display: block;
            border-radius: 4px;
            transition: all 0.4s ease-in-out;
            position: absolute; 
        }
        &--bar1 {
            top: 0;
            transform-origin: 5%;
        }
        &--bar2,
        &--bar3 {
            top: 13.5px;
        }
        &--bar3 {
            right: 0;
        }
        &--bar4 {
            bottom: 0;
            transform-origin: 5%;
        }
    }
    
     
    &__checkbox:checked + &__label > &-hamburger > &-hamburger--bar1{
        transform: rotate(45deg);
        height: 3px;
        width: 42px;
    }
    
    &__checkbox:checked + &__label > &-hamburger > &-hamburger--bar3{
        transform: rotate(45deg);
        height: 3px;
        background-color: transparent;
    }
    
    &__checkbox:checked + &__label > &-hamburger > &-hamburger--bar2{
        transform: rotate(-45deg);
        height: 3px;
        background-color: transparent;
    }
    
    &__checkbox:checked + &__label > &-hamburger > &-hamburger--bar4{
        transform: rotate(-45deg);
        height: 3px;
        width: 42px;
    }

    &__label{
        display: block;
    }

    &__checkbox:checked ~ &__menu-list{
        width: 100%;
        height: auto;
        text-align: center;
        visibility: visible;
        margin-top: 15px;
        transition: all 1s ;

    }
}