@import 'variables';
@import 'mixins';

.header {
    background-image: url(../img/bg_header.jpg);
    background-repeat: no-repeat;
    padding: 40px 0;
    margin: 0 auto;
    height: 100%;
    background-size: cover;

    &-header {
        display: flex;
        @include conteiner;
        justify-content: space-between;
    }

    &-menu {
        margin: auto 0;

        &__menu-list {
            display: flex;
            margin: 0;
            padding: 0;
        }

        &__menu-item {
            list-style-type: none;
            margin: 0 15px;
        }

        &__menu-link {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            color: #ffffff;
            text-decoration: none;

            &--active {
                color: #c7b299;
            }

            &:hover {
                color: #c7b299;
            }

            &:active {
                color: #ffffff;
            }
        }
    }

    &-slider {
        margin: 285px 150px 325px 150px;
        display: flex;
        justify-content: space-between;

        &-arrows-left {
            align-self: center;
        }

        &-content {
            font-family: Raleway;
            text-align: center;
            color: #ffffff;

            &__subtitle {
                font-size: 36px;
                font-weight: 500;
                margin: 0;
            }

            &__title {
                font-size: 52px;
                font-weight: 800;
                margin: 14px 0 15px 0;
            }

            &__text {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
                max-width: 537px;
                margin: 0 auto;
            }

            &__btn {
                margin: 52px 0 0 0;
                display: inline-block;
                box-sizing: border-box;
                padding: 21px 39px;
                border-radius: 3px;
                box-shadow: inset 0px -3px 0 0 #736357;
                background-color: #998675;
                text-decoration: none;
                &:hover{
                    background-color: #736357; 
                }
                &:active{
                    box-shadow: none;
                    background-color: #998675;
                }
                
            }

            &__btn-text {
                font-size: 14px;
                font-weight: 800;
                line-height: 1.64;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Raleway;
            }
            
        }

        &-arrows-right {
            align-self: center;
        }
    }
    &-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        &__link{
            background-color: #fff;
            opacity: 0.5;
            border-radius: 50%;
            width: 11px;
            height: 11px;
            margin: 0 9px 0 0;
            &--active{
                border: solid 2px #d3c1ad;
                background-color: unset;
            }
            &:hover{
                border: solid 2px #d3c1ad;
                background-color: unset;
            }
            &:active{
                border: none;
                background-color: #fff;
            }
        }
    }
}


.icon {
    &-cart {
        display: block;
        position: relative;
        margin: 0 15px 0 33px;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/icon/icon-cart.png);
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            top: -4px;
            left: 0;
        }
    }

    &-search {
        display: block;
        position: relative;
        margin: 0;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/icon/icon-search.png);
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            top: -4px;
            left: 0;
        }
    }
}