@import 'variables';
@import 'mixins';

.header {
    background-image: url(../img/bg_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover; 
    padding: 40px 0;
    margin: 0 auto;
    &-header {
        display: flex;
        @include container;
        justify-content: space-between;
    }

    &-logo {
        &__link {
            font-family: raleway;
            font-size: 34px;
            color: $colorWhite;
            text-decoration: none;
            display: flex;
            align-items: center;

            &:hover {
                color: $colorGold;
            }

            &:active {
                color: $colorWhite;
            }
        }

        &__svg {
            fill: $colorWhite;
        }

        &:hover .header-logo__svg {
            fill: $colorGold;
        }

        &:active .header-logo__svg {
            fill: $colorWhite;
        }

    }

    &-menu {
        margin: auto 0;
        display: flex;

        &__menu-list {
            display: flex;
            margin: 0;
            padding: 0;
        }

        &__menu-item {
            list-style-type: none;
            margin: 0 15px;
        }

        &__menu-link {
            font-family: montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 2;
            color: $colorWhite;
            text-decoration: none;

            &--active {
                color: $colorGold;
            }

            &:hover {
                color: $colorGold;
            }

            &:active {
                color: $colorWhite;
            }
        }
        &__form{
            position: relative;
        }
    }

    &-slider {
        margin: 278px 150px 329px 150px;
        display: flex;
        justify-content: space-between;

        &-arrows-left {
            align-self: center;
            .arrow__left{
                fill: $colorWhite;
                &:hover{
                    fill: $colorGold;
                }
                &:active{
                    fill: $colorWhite;
                }
            }
        }

        &-content {
            font-family: raleway, sans-serif;
            text-align: center;
            color: $colorWhite;

            &__subtitle {
                display: block;
                font-size: 36px;
                font-weight: 500;
                margin: 0;
            }

            &__title {
                display: block;
                font-size: 52px;
                font-weight: 800;
                margin: 9px 0 10px 0;
            }

            &__text {
                display: block;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
                max-width: 537px;
                margin: 0 auto;
            }

            &__btn {
                @include btn;
                margin: 48px 0 0 0;
            }
            

        }

        &-arrows-right {
            align-self: center;
            .arrow__right{
                fill: $colorWhite;
                &:hover{
                    fill: $colorGold;
                }
                &:active{
                    fill: $colorWhite;
                }
            }
        }
    }

    &-pagination {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100px;

        &__link {
            background-color: #fff;
            opacity: 0.5;
            border-radius: 50%;
            width: 7px;
            height: 7px;
            display: block;
            border: 2px solid transparent;
            &:hover {
                border: 2px solid #d3c1ad;
                background-color: transparent;
                transform: scale(1.5);
            }

            &:active {
                border: none;
                background-color: #fff;
            }
        }
    }
}

.icon-cart {
    &__btn {
        padding: 0;
        height: 0;
        border: none;
        outline: none;
        display: block;
        margin: 0 24px 0 48px;
    }

    &__svg {
        fill: $colorWhite;

        &:hover {
            fill: $colorGold;
        }

        &:active {
            fill: $colorWhite;
        }
    }

}

.icon-search {
    display: block;
    width: 100%;
    height: 100%;

    &__btn {
        width: 0;

        padding: 5px;
        border: none;
        outline: none;
        margin: 0 0 0 15px;
        position: absolute;
        top: 40px;
        left: -145px;
        box-sizing: border-box;
        background-color: transparent;

        &:focus {
            border: 2px solid $colorWhite;
            background-color: $colorWhite;
            width: 150px;
            transition: width 1s ease-in;
            + .icon-search__svg{
                fill: $colorGold;
            }
        }
    }
    &__svg{
        width: 100%;
        height: 100%;
        fill: $colorWhite;
        &:hover{
            fill: $colorGold;
        }
    }

}