@import 'variables';
@import 'mixins';

.partners{
    background-image: url(../img/partners-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover; 
    &-container{
        @include container;
        padding: 140px 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__link{
        display: block;
        &:hover{
            transform: scale(1.05);
        }
        &:active{
            transform: none;
        }
    }

}

@media (min-width: 320px) and (max-width: 480px){
    .partners{
        &-container{
            padding: 80px 20px;
            flex-wrap: wrap;
        }
        &__link{
            width: 45%;
            margin: 0 0 10px 0;
        }
        &__logo{
            width: 100%;
            height: auto;
        }
    }
}