
@import 'variables';
@import 'mixins';

.services{
    @include container;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        margin: 0 25px 0 0 ;
        &:nth-child(4){
            margin: 0;
        }
        &__svg{
            fill: #555555;
            display: block;
            margin: auto 0 0 0;
        }
        &__title{
            display: block;
            font-family: raleway;
            font-size: 22px;
            font-weight: 600;
            color: #555555;
            margin: 27px 0 16px 0;
        }
        &__subtitle{
            margin: 0 0 0 0;
            font-family: montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.71;
            text-align: center;
            color: #8c8c8c;
            &::after{
                content: "";
                display: block;
                width: 70px;
                height: 3px;
                background-color: #f1eee9;
                align-self: flex-end;
                margin: 22px auto 0;
            }
        }
        &:nth-child(1):hover .services-item__svg{
                fill: $colorGold;
        }
        &:nth-child(1):hover .services-item__title{
                color: $colorGold;
        }
        &:nth-child(1):hover .services-item__subtitle::after{
            background-color: $colorGold;
        }
        &:nth-child(2):hover .services-item__svg{
            fill: $colorGold;
        }
        &:nth-child(2):hover .services-item__title{
                color: $colorGold;
        }
        &:nth-child(2):hover .services-item__subtitle::after{
            background-color: $colorGold;
        }
        &:nth-child(3):hover .services-item__svg{
            fill: $colorGold;
        }
        &:nth-child(3):hover .services-item__title{
                color: $colorGold;
        }
        &:nth-child(3):hover .services-item__subtitle::after{
            background-color: $colorGold;
        }
        &:nth-child(4):hover .services-item__svg{
            fill: $colorGold;
        }
        &:nth-child(4):hover .services-item__title{
                color: $colorGold;
        }
        &:nth-child(4):hover .services-item__subtitle::after{
            background-color: $colorGold;
        }

    }  
    
}

@media (min-width: 320px) and (max-width: 480px){
    .services{
        flex-wrap: wrap;
        padding: 20px 20px 0;
        &-item{
            margin: 0 0 30px 0;
            max-width: 45%;
            &__title{
                font-size: 19px;
                text-align: center;
            }
            &__subtitle{
                font-size: 12px;
            }
            &:nth-child(4){
                margin: 0 0 30px;
            }
        }
    }
}