@import 'variables';

@import 'fonts';

@import 'normalize';


body{
    max-width: $width;
    margin: 0 auto;
}
/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
  }

@import 'header';

@import 'services';

@import 'ideas';

@import 'boxes';

@import 'project';

@import 'video';

@import 'mobile-devices';

@import 'counters';

@import 'posts';

@import 'partners';

@import 'footer';